# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

*.txt
easy/414-third-maximum-number
easy/350-intersection-of-two-arrays-ii
easy/448-find-all-numbers-disappeared-in-an-array
medium/280-wiggle-sort
easy/33-serach-in-rotated-sorted-array